:root {
    --white: #d9d9d9;
    --black: #0d0d0d;
    --green: #00672e;
    --gray: #565959;
}

* {
    font-family: 'Articulat CF', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

h1 {
    font-size: 72px;
    font-weight: 800;
}

h2 {
    font-size: 48px;
    font-weight: normal;
}